<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        /* Your CSS styles here */
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
        }

        .login-container {
            width: 300px;
            margin: 0 auto;
            margin-top: 100px;
            background: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            /* Align the content in the center */
        }

        .logo {
            margin-bottom: 20px;
            /* Adjust the margin as needed */
        }

        .logo img {
            max-width: 100%;
            height: auto;
        }

        input[type="text"],
        input[type="password"] {
            width: calc(100% - 20px);
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        input[type="submit"] {
            width: 100%;
            padding: 10px;
            border: 0;
            background: #2FF2FE;
            color: #fff;
            border-radius: 5px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background: #2c707f;
        }
    </style>
    <script>
        function togglePassword() {
            var x = document.getElementById("password");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
        function showErrorDialog() {
            var roleError = "{{RoleError}}";
            if (roleError) {
                alert(roleError);
            }
        }
    </script>
</head>

<body onload="showErrorDialog()">

    <div class="login-container">

        <h2>Login User</h2>
        <form name="loginForm" action="/loginuser" method="post">
            <input type="text" placeholder="Email" id="email" name="email" required><br>
            {{#if UserError}}
            <p class="alert alert-danger">{{UserError}}</p>
            {{/if}}
            <input type="password" placeholder="Password" id="password" name="password" required><br>
            {{#if PassError}}
            <p class="alert alert-danger">{{PassError}}</p>
            {{/if}}
            <input type="checkbox" onclick="togglePassword()"> Hiển thị mật khẩu<br><br>
            <input type="submit" value="Login" action="/home">
        </form>
        <form action="/register">
                <button class="btnlogin" type="submit">
                    Đăng ký
                </button>
            </form>
    </div>

</body>

</html>