<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="http://localhost:8080/login.css">
</head>

<body>
    <div>
        <div class="tieudebongda">
            <img src="http://localhost:8080/bongda2.png" alt="" class="imgbongda">
            <div class="texttieude">
                <h1 class="h1bongda">
                    HELLO
                </h1>
                <h1 class="h2bongda">
                    STADIUM
                </h1>
            </div>

        </div>
        <div class="loichao">
            <h1 class="h1loichao">Chào mừng bạn đến với sân bóng Hello</h1>
            <h1 class="h2loichao">Bạn là ai?</h1>
        </div>
        <div class="divbtnlogin">
            <form action="/loginuser">
                <button class="btnlogin" type="submit">Người dùng</button>
            </form>
            <form action="/loginstaff">
                <button class="btnlogin" type="submit">
                    Nhân viên
                </button>
            </form>
            <form action="/loginadmin">
                <button class="btnlogin" type="submit">
                    Chủ sân
                </button>
            </form>
        </div>
    </div>
</body>

</html>