<!DOCTYPE html>
<html lang="vi">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://localhost:8080/registeruser.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="register-container">
        <h2 class="register-title">Đăng ký người dùng</h2>
        <form name="registerForm" action="/register" method="post">
            <input type="text" placeholder="Họ và tên" name="hovaten" required><br>
            <input type="text" placeholder="Email" name="email" required><br>
            <input type="text" placeholder="Số điện thoại" name="phone" required><br>
            <input type="password" placeholder="Mật khẩu" name="password" required><br>
            <input type="submit" value="Đăng ký">
        </form>
    </div>
</body>
</html>
