.modal-overlay2 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content2 {
    background: white;
    padding: 20px;
    width: 1000px;
    max-width: 90%;
    border-radius: 8px;
    text-align: center;
}

.bodynganhang {
    background-color: rgb(224, 224, 224);
    padding: 10px;
    max-height: 500px;
    overflow-y: auto;
}

.titlenganhang {
    font-size: 20px;
}

.divlistnganhang {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.divnganhang {
    flex: 1 1 calc(25% - 10px);
    /* 100% / 8 ngân hàng - khoảng cách giữa các ngân hàng */
    max-width: calc(25% - 10px);
    /* Đảm bảo chỉ 8 ngân hàng trên một dòng */
    display: flex;
    justify-content: center;
    border: 1px solid #ccc;
    cursor: pointer;
    &:hover {
        background-color: #b3b3b3;
    }
}

.imgnganhang {
    width: 100%;
    max-width: 200px;
    /* Đặt kích thước ảnh ngân hàng */
}