/* Modal.scss */
.modal-overlay1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content1 {
    background: white;
    padding: 20px;
    width: 1000px;
    max-width: 90%;
    border-radius: 8px;
    text-align: center;
}

.bodydatsan {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
}

.divinputdatsan {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
    /* Khoảng cách giữa các nhóm input */
}

.input-group {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
    /* Khoảng cách giữa label và input */
}

label {
    min-width: 100px;
    /* Đặt chiều rộng cố định cho label để căn đều */
}

.inputdatsan {
    width: 300px !important;
    flex: 1;
    /* Để input chiếm toàn bộ không gian còn lại */
}

.divtabledatsan {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.tabledatsan {
    width: 100%;
    border-collapse: collapse;
}

.divtongtien {
    display: flex;
    flex-direction: column;
    /* Sắp xếp các thẻ div theo chiều dọc */
    gap: 10px;
    /* Khoảng cách giữa các thẻ div */
    align-items: flex-start;
}

.item {
    text-indent: 0px;
    display: flex;
    align-items: center;

    h2 {
        margin-left: 200px;
        color: rgb(4, 29, 255);
    }
}

.divbtndatsan {
    float: right;
}
.error{
    color: red;
    font-size: 15px;
}